/*

Colour themes (feel free to add/update any of them,
just make sure to also change all occurances in the
rest of the file):
    - #4F4947


*/


* {
    margin: 0;
}

#navbar {
    margin: 40px 20px;
    background-color: #4F4947;
}

#navbar a:link {
    color: white;

    margin: 20px;
    text-decoration: none;
}

.title {
  font-size: 20px;
  font-family: Arial;
}
