/*

Colour themes (feel free to add/update any of them,
just make sure to also change all occurances in the
rest of the file):
    - #4F4947


*/


* {
    margin: 0;
}

body {
    background-color: #808080;
}

#navbar {
    background-color: #4F4947;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin: 30px 100px;
}

#navbar div {
    border-radius: 10px;
    padding: 20px;
}

#navbar div:hover {
    background-color: white;
    color: black;
    transition: .7s;
}

#navbar a:any-link {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

#best-sellers {
    display: grid;
    margin: 10px 20%;
}

#best-sellers img {
    border-radius: 15px;
    opacity: 70%;
    transition: 2s;
}

#best-sellers img:hover {
    border-radius: 40px;
    height: 35%;
    opacity: 100%;
    transition: 1s ease-in-out;
}

.title {
  font-size: 20px;
  font-family: Arial;
}

#preorder {
  font-size: 20px;
  font-family: Arial;
}

#footer {
  border: solid;
  background-color: black;
}

a:link {
  color: white;
}

a:hover {
  color: #8ebf42;
      }

a:visited {
  color: white;
}
