/*

Colour themes (feel free to add/update any of them,
just make sure to also change all occurances in the
rest of the file):
    - #4F4947


*/


* {
    margin: 0;
}

#navbar {
    background-color: #4F4947;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

#navbar div{
    padding: 20px;
}

#navbar div:hover {
    background-color: white;
    color: black;
    transition: .7s;
}

#navbar a:any-link {
    color: white;
    text-decoration: none;
}

.title {
  font-size: 20px;
  font-family: Arial;
}

#preorder {
  font-size: 20px;
  font-family: Arial;
}
